.btn_nifti {
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: black;
    color: white;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}
.secviewer {
    width: 70%;
    overflow: hidden;
    flex:content;

}

.secfilelist{
    padding-left: 10px;
    max-height: 98vh;
    width: 27%;
    overflow: scroll;
    
}
.file-list{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 0px;

}
.box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    border: black solid 2px;
    padding-top: 10px;
}
